@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main{
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    width: 450px;
    padding-bottom: 60px;
    padding-top: 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 700;
    margin-bottom: -10px;
}

h4{
    color: hsl(75, 94%, 57%);
}

p{
    font-size: 14px;
}

.mybutton{
    width: 350px;
    padding: 15px 0px 15px 0px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

.mybutton:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
}

img{
    border-radius: 50%;
}

.attribution { font-size: 11px; text-align: center; color:hsl(0, 0%, 100%);margin-top: 20px; }
.attribution a { color: hsl(228, 45%, 44%);}